/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Navigation bar: Logo and Image */
#logo {
    width: 10%;
    margin: 8px 12px;
}

#logo img {
    width: 100%;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.2;
    top: 0;
    left: 0;
    
}

/* Navigation bar:List Styling*/
#navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

#navbar ul {
    display: flex;
    font-family:'Baloo Bhai',cursive;
}

#navbar ul li {
    font-size: 1.6rem;
    list-style: none;
}

#navbar ul li a {
    color:black;
    display: block;
    padding: 3px 23px;
    border-radius: 5px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: white;
    background-color:black ;
    opacity: 0.8;

}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 660px;
}

#home::before {
    content: "";
    background :url('../img/9.png')no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    height: 660px;
    top: 0;
    left: 0;
}
/* Home */
#home h1 {
    color: black;
    text-align: center;
    font-family:'bree serif' ,serif;
}
#home p{
    color: white;
    text-align: center;
    font-size:1.5rem;
    font-family:'Bree Serif' ,serif;
}
.primary {
    font-size: 3.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: pink;
    border-radius: 10px;
    margin: 15px;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
}
.btn::before{
    color: white;
}
.btn:hover{
 color: white;
 background-color: palevioletred;
}
/* Services Section */
.h-secondary{
    font-size: 2.8rem;
    padding: 12px; 
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    width: 28%;
    padding: 32px;
    margin: 3px 25px;
    border-radius: 23px;
    background-color: #e6e4e4;
    font-family:'Baloo Bhai',cursive;
    align-items: center;
    text-align: center; 
}
#services .box img{
    height: 154px;
    margin: auto;
    display: block;
    width: 139px;
}
.services_container h1{
    align-items: center;
    text-align: center;  
}
/* Client Section */
#client{
    height: 285px;

}
#clients{
display: flex;
justify-content: center;
align-items: center;
}
.third {
    color: black;
    text-align: center;
    font-family:'Bree Serif' ,serif;  
    font-size: 2.5rem;
}
#clients img{
   height: 100px;
   margin: 20px;
}
.clients-item{
padding: 34px;
}
#client::before{
    content: "";
    position: absolute;
    background: url('../img/5.png')no-repeat center center/cover;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.5;
}
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../img/cont.png)no-repeat center center/cover;
}
/* Footer */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.2rem;
    font-family:'Baloo Bhai',cursive;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.fourth{
    font-size: 2.5rem;
    text-align: center;
}